body {
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}

h1 {
  margin: 0;
  padding: 1em 0 0 0;
  text-align: right;
  color: #0191C8;
  font-weight: 300;
  font-size: 2.3em;
}

.container {
  max-width: 50em;
  margin: 0 auto;
}

textarea {
  width: 100%;
  min-height: 200px;
}
