<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rot13!</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Ceaser Cipher<h1>
      </header>

      <hr>

      <main>
        <h2>Enter your text:</h2>
        <textarea>
        </textarea>

        <button>Submit</button>
      </main>
    </div>
  </body>
